
@model Application


@if (Model.SockFood == false)
{
    <h2>Application Received.    Thank You, @Model.FirstName</h2>
    <h3>(Although, you really ought to be thanking me for even considering going out with you!)</h3>
}
else
{
    <h2>Oh, shoot. My bad. I actually forgot that I'm already in a relationship. But I have a friend who I think would be perfect for you!</h2>
}
